$color-primary: #221e41;
$color-secondary: #63617a;
$color-tertiary: #838191;
$color-action-1: #6937ff;
$color-action-2: #00adff;
$color-contact: #7f52ff;
$color-friend-active: #6eff7c;
$color-danger: #e3088b;
$color-bg: #fafaff;
$color-input-select: #f0f0f5;
$color-bubble: #eaeaf5;

$border-radius: 8px;
