@import '../utilities/variables.scss';

.toggle-nav {
  display: none;
  margin: 0;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
  &:hover {
    circle {
      fill: darken($color-bg, 5%);
    }
  }
}

.loader-main {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 100vh;
  background-color: $color-bg;
  border-left: solid #f4f4fb 2px;
  border-right: solid #f4f4fb 2px;
  z-index: 0;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid #f4f4fb 2px;
    height: 100px;
    p {
      margin-top: 2px;
    }
    h1 {
      font-weight: 600;
      font-size: 1.25rem;
      margin-left: 24px;
    }
    &__friend {
      font-weight: 300;
      margin-left: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &__symbol {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  &__body {
    &::-webkit-scrollbar {
      background: none;
      width: 8px;
      &-thumb {
        background-color: lightgrey;
        border-radius: 12px;
      }
    }
    opacity: 0;
    overflow-y: auto;
    padding: 24px;
    padding-bottom: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.message {
  display: inline-block;
  padding: 20px;
  margin-bottom: 10px;
  background-color: grey;
  font-size: 0.75rem;
  &--user {
    float: right;
    border-radius: $border-radius $border-radius 0 $border-radius;
    background-color: $color-primary;
    color: white;
  }
  &--friend {
    float: left;
    border-radius: $border-radius $border-radius $border-radius 0;
    background-color: $color-bubble;
  }
  &--gif {
    max-width: 65vw;
  }
}

.timestamp {
  display: inline-block;
  max-width: 90%;
  margin-bottom: 20px;
  font-size: 0.75rem;
  font-weight: 300;
  &--user {
    margin-right: 20px;
    align-self: flex-end;
  }
  &--friend {
    margin-left: 20px;
  }
}

.typing {
  background: none !important;
  margin: 0;
}

.tiblock {
  align-items: center;
  display: inline-flex;
}

.ticontainer .tidot {
  display: inline-block !important;
  background-color: $color-primary;
}

.tidot {
  animation: mercuryTypingAnimation 1.25s infinite ease-in-out !important;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
  &--1 {
    animation-delay: 200ms !important;
  }
  &--2 {
    animation-delay: 300ms !important;
  }
  &--3 {
    animation-delay: 400ms !important;
  }
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  animation-delay: 200ms;
}
.tidot:nth-child(2) {
  animation-delay: 300ms;
}
.tidot:nth-child(3) {
  animation-delay: 400ms;
}

@media only screen and (max-width: 1024px) {
  .chat-main {
    position: absolute;
    padding: 0;
    border: none;
    width: 100vw;
    margin: 0;
    height: 100vh;
    top: 0;
    left: 0;
    &__header {
      height: 120px;
    }
  }
  .toggle-nav {
    display: inline-block;
    margin-left: 24px;
  }
}
