@import "../utilities/variables.scss";

.emoji-mart {
  animation: none !important;
  transition: opacity 0.2s ease-in-out;
  padding: 20px;
  border-radius: $border-radius;
  border: solid #f4f4fb 1px;
  filter: drop-shadow(16px 16px 10px rgba(73, 70, 70, 0.4));
  &-preview {
    display: none;
  }
}

.picker-gif {
  animation: none !important;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-bg;
  padding: 20px;
  border-radius: $border-radius;
  border: solid #f4f4fb 1px;
  filter: drop-shadow(16px 16px 10px rgba(73, 70, 70, 0.4));
  input {
    border-radius: $border-radius;
    padding-left: 20px;
    border: solid $color-bg 1px;
    border-radius: $border-radius;
    background-color: $color-input-select;
    transition: border 0.2s ease-in-out;
    &:focus {
      outline: none;
      border: solid $color-primary 1px;
    }
  }
}

.reactGiphySearchbox-listWrapper {
  overflow: overlay !important;
  &::-webkit-scrollbar {
    background: none;
    width: 8px;
    &-thumb {
      background-color: lightgrey;
      border-radius: 12px;
    }
  }
}

.chat-input {
  position: relative;
  height: 100px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__emoji {
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    margin-right: 20px;
    transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    &:hover,
    &:focus {
      path {
        fill: $color-action-1;
      }
    }
  }
  &__gif {
    cursor: pointer;
    margin-right: 20px;
    transition: fill 0.2s ease-in-out;
    min-width: 16px;
    min-height: 16px;
    &:hover {
      path {
        fill: $color-action-1;
      }
      rect {
        stroke: $color-action-1;
      }
    }
  }
  &__input {
    flex: 1;
    background-color: $color-input-select;
    border-radius: $border-radius;
    padding: 20px;
    height: calc(32px - 40px);
    border: solid $color-bg 1px;
    border-radius: $border-radius;
    background-color: $color-input-select;
    transition: border 0.2s ease-in-out;
    &:focus {
      outline: none;
      border: solid $color-primary 1px;
    }
  }
  &__send {
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    margin-left: 20px;
    transition: fill 0.2s ease-in-out;
    &:hover {
      path {
        fill: $color-action-1;
      }
      rect {
        stroke: $color-action-1;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .emoji-mart {
    max-width: 350px;
  }
  .chat-input {
    padding: 0 12px;
    width: calc(100% - 24px) &__input {
      padding: 20px 20px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .emoji-mart {
    max-width: 250px;
  }
}
