@import "../utilities/variables.scss";

.chat-navigation {
  width: 25vw;
  height: 100vh;
  background-color: $color-bg;
  // z-index: 0;
  z-index: 10;
  &__toggle-nav {
    display: none;
  }
  &__section {
    max-height: 500px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .chat-navigation {
    transition: left 0.1s ease-in-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    &__toggle-nav {
      display: block;
    }
  }
}
