@import "../utilities/variables.scss";

.logout {
  min-width: 24px !important;
  min-height: 24px !important;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 40px;
  // margin-top: 60px;
  // margin-bottom: 60px;
  cursor: pointer;
  path {
    transition: fill 0.2s ease-in-out;
  }
  &:hover {
    path {
      fill: $color-danger;
    }
  }
}

.empty {
  flex: 1;
}

.create-chat {
  margin-top: 60px;
  margin-bottom: 60px;
  min-width: 36px !important;
  min-height: 36px !important;
  cursor: pointer;
  // margin-bottom: 20px;
  path {
    transition: fill 0.2s ease-in-out;
  }
  &:hover {
    path {
      fill: $color-action-1;
    }
  }
}

.selected {
  background-color: lighten($color-input-select, 1%);
  .chat-navigation__section__chats__chat__profile-picture__cutout {
    background-color: lighten($color-input-select, 1%);
  }
}

.chat-navigation {
  // padding: 60px;
  // width: 25vw;
  // overflow-y: auto;
  min-width: 360px;
  // height: 100vh;
  width: calc(25vw - 120px);
  max-height: calc(100vh);
  // height: calc(100vh - 120px);
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  // z-index: 0;
  z-index: 10;
  &__toggle-nav {
    display: none;
  }
  &__section {
    // margin-top: 60px;
    margin-top: 36px;
    overflow-y: auto;
    // max-height:
    &::-webkit-scrollbar {
      // display: none;
      background: none;
      width: 8px;
      // &-track {
      //   background-color: #ac6c6c;
      // }
      &-thumb {
        background-color: lightgrey;
        border-radius: 12px;
      }
    }
    width: 90%;
    h1 {
      margin-bottom: 20px;
      // margin-top: 20px;
      font-weight: 400;
      font-size: 1rem;
      // text-align: center;
    }
    &__chats {
      list-style: none;
      border-top: solid $color-bubble 1px;
      // flex: 1;
      // max-height: 400px;
      // overflow-y: auto;
      width: 100%;
      &__chat {
        padding: 20px;
        cursor: pointer;
        border-bottom: solid $color-bubble 1px;
        display: grid;
        grid-template-columns: 60px auto 40px;
        // grid-row-gap: 20px;
        &__profile-picture {
          position: relative;
          width: 60px;
          height: 60px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 3;
          align-self: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
          &__cutout {
            transition: background-color 0.2s ease-in-out;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            // background-color: pink;
            background-color: $color-bg;
            display: flex;
            justify-content: center;
            align-items: center;
            &__symbol {
              width: 12px;
              height: 12px;
              background-color: $color-friend-active;
              border-radius: 50%;
            }
          }
        }
        &__name {
          font-weight: 600;
          display: inline-block;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          align-self: center;
          margin-left: 20px;
          margin-right: 20px;
        }
        &__message {
          // max-width: 60%;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          align-self: center;
          // max-width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 20px;
          margin-right: 20px;
          font-size: 1rem;
          // font-weight: 300;
        }
        &__timestamp {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          align-self: center;
          justify-self: end;
          font-weight: 300;
          font-size: 0.75rem;
        }
        &__unread {
          animation: none !important;
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          transition: opacity 0.1s ease-in-out;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $color-danger;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          align-self: center;
          justify-self: end;
        }
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: $color-input-select;
          .chat-navigation__section__chats__chat__profile-picture__cutout {
            background-color: $color-input-select;
          }
        }
      }
    }
  }
  &__empty {
    flex: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .chat-navigation {
    transition: left 0.1s ease-in-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    &__toggle-nav {
      display: block;
    }
  }
}
