@import '../utilities/variables.scss';

@keyframes rock {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rise {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bg {
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
  -moz-animation: fadeIn ease-in-out 1s;
  -o-animation: fadeIn ease-in-out 1s;
  -ms-animation: fadeIn ease-in-out 1s;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.loader {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__left {
    animation: rise 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    opacity: 1;
    &__h1 {
      margin-top: 100px;
      font-size: 4rem;
      width: 540px;
      line-height: 100%;
    }
    &__h2 {
      color: $color-tertiary;
      font-size: 1.25rem;
      font-weight: 400;
      width: 500px;
      margin-top: 50px;
    }
    &__demo {
      margin-top: 125px;
      margin-bottom: 50px;
      width: 270px;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      svg {
        animation: rock 1s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
    }
  }
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    &__preview {
      animation: rise 0.6s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      width: 400px;
      height: 650px;
      min-height: 650px;
      position: relative;
      background-size: contain;
      background-image: url('../images/chatbox-mock.png');
      background-repeat: no-repeat;
    }
    &__circle {
      position: absolute;
      top: -50vh;
      right: -120vh;
      z-index: -10;
      height: 200vh;
      width: 200vh;
      border-radius: 50%;
      background: linear-gradient(180deg, #7c53f7 0%, #4814e2 100%);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home {
    &__right {
      &__circle {
        top: -50vh;
        right: -150vh;
        z-index: -10;
        height: 200vh;
        width: 200vh;
      }
      &__preview {
        width: 400px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .bg {
    display: none;
  }
  .home {
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__h1 {
        width: 100%;
        text-align: center;
      }
      &__h2 {
        margin-top: 25px;
        width: 100%;
        text-align: center;
      }
    }
    &__right {
      display: none;
      &__preview {
        display: none;
      }
      &__circle {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    &__left {
      &__h1 {
        font-size: 3rem;
      }
      &__h2 {
        font-size: 1rem;
      }
    }
  }
}
